.chatbox
    .messages
        .message(ng-repeat='message in chatMessages', ng-class="{mine: message.username == username}")
            span.timestamp {{message.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
            span.sender <{{message.username}}>
            span.text {{message.text}}
    .online-users
        .header Online:
        .user(ng-repeat='user in onlineUsers track by $index') {{user}}
    .new-message
        .nickname {{username}}:
        input(ng-enter="send(newMessageText)",ng-model='newMessageText')