!!!
html(ng-app="jghpChatApp")
  head
    meta(charset='utf8')
    meta(name="viewport",content="width=device-width; maximum-scale=1; minimum-scale=1;")
    base(href='/')
    title Jghphhhf chat
    link(rel='stylesheet', href='/js/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body